@mixin button($bg-from, $bg-to, $color) {
  background-image: linear-gradient(to right, $bg-from, $bg-to);
  color: $color;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding: 16px 24px;
  font-size: 16px;
  letter-spacing: -0.48px;
  cursor: pointer;
}

.add-new-task {
  @include button(#0796d3, #53c0f0, #fff);
  width: 450px;
  margin-top: 24px;
}

.cancel-task {
  @include button(#e7eefb, #e7eefb, #000);
  font-weight: 400;
  width: 185px;
}

.add-task {
  @include button(#0796d3, #53c0f0, #fff);
  width: 185px;
}

.delete-task {
  @include button(#d30707, #f05353, #fff);
  width: 185px;
}

@media (320px <= width <= 780px) {
  .add-new-task,
  .add-task,
  .cancel-task,
  .delete-task {
    width: 272px;
  }

  .add-new-task {
    margin-bottom: 25px;
  }
}
