.default-input-checkbox {
  width: 24px;
  height: 24px;
  border: 1px solid #b0bbd1;
  border-radius: 4px;
  background-color: transparent;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.checked-input-checkbox {
  @extend .default-input-checkbox;
  background-color: #a0dcf6;
  border: 1px solid #0796d3;
}
